language: java
jdk:
  - oraclejdk8

before_script:
  - echo "Starting build"
script:
  - mvn clean package
after_script:
  - echo "Script finished"
after_success:
  - echo "Build was successful. $TRAVIS_TEST_RESULT"
after_failure:
  - echo "Build was failed"


notifications:
  email:
    recipients:
      - CaH4aZzz@ua.fm
    on_success: never
    on_failure: always